[Unit]
Description=T2 Touch Bar
After=graphical-session.target
PartOf=graphical-session.target
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
Type=simple
ExecStartPre=/usr/bin/kait2en-touchbar --attach
ExecStart=/usr/bin/kait2en-touchbar
ExecStopPost=-/usr/bin/kait2en-touchbar --detach
Restart=on-failure
RestartSec=2

NoNewPrivileges=true
ProtectHome=false

[Install]
WantedBy=graphical-session.target
